body
{
    background: $blue-dark;
}

a
{
    color: $blue-light;
}

.page-wrapper
{
    overflow: hidden;
    background: $blue-very-light;
}

.fixed-width > div
{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    
    & > div
    {
        padding-left: 20px;
        padding-right: 20px;
        
        & > div
        {
            position: relative;
        }
    }
}

#block-system-main
{
    p
    {
        margin-bottom: 0.75em;
        
        &:last-of-type
        {
            margin-bottom: 0;
        }
    }
}

body.node-type-page
{
    .main-wrapper
    {
        @extend .fixed-width;
        padding: 40px 0;
    }
    
    .page-title
    {
        float: left;
        width: 225px;
        margin-right: 100px;
        
        h1
        {
            display: inline-block;
            text-transform: uppercase;
            line-height: 85%;
            padding-bottom: 5px;
            border-bottom: 4px solid white;
            font-size: 2.5em;
        }
    }
    
    .region-content::before
    {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 269px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 56px 56px 56px 0;
        border-color: transparent $blue-dark transparent transparent;
    }
    
    #block-system-main
    {
        overflow: hidden;
        background: $blue-dark;
        position: relative;
        margin-right: 80px;
        padding: 15px;
    }
}