body
{
    color: white;
    font-family: "futura-pt",sans-serif;
    letter-spacing: -0.35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}